* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.4;
    font-size: 14px;
}

.logo {
    display: block;
    width: 169px;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 90px auto 0 auto;
    font-size: 48px;
    font-weight: 200;
    line-height: 1.25;
    text-align: center;
    max-width: 910px;
    color: #333;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-weight: 200;
    line-height: 1.4;
    margin: 40px auto 0;
    font-size: 21px;
    max-width: 740px;
    padding: 0 20px;
}

.hero {
    padding: 40px 0 0;
    position: relative;
    overflow: hidden;
    background: #222;
}

.hero h1 {
    color: #fff;
    max-width: 830px;
    margin-top: 50px;
}

.hero h2 {
    color: #a7a7a7;
    line-height: 1.5em;
    max-width: none;
    margin: 10px auto 60px;
    font-size: 18px;
}

.hero h2 > a {
    color: #dcdcdc;
    text-decoration: underline;
}

.hero h2 > a:hover {
    text-decoration: none;
}

.hero-img {
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero-img img {
    width: 100%;
    max-width: 893px;
    margin: 0 auto;
    display: block;
}

.help-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #bbb;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

.help-link:hover {
    color: #fff;
}

main {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 10vh;
}

.tutorial {
    text-align: center;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 20px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px auto 0;
    font-size: 0;
}

.question .tabs {
    margin: 30px auto 0;
}

.tabs li {
    display: inline-block;
    margin: 0;
    font-size: 15px;
}

.tabs li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tabs li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tabs li:nth-child(even) a {
    margin: 0 -1px;
}

.tabs a {
    text-decoration: none;
    color: #323232;
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #dddddd;
    position: relative;
    line-height: 1em;
    transition: all 0.2s ease-in-out 0s;
}

.tabs a:hover {
    color: #327fc7;
    border-color: #327fc7;
    z-index: 10;
}

.tabs a.selected {
    z-index: 20;
    color: #fff;
    background-color: #327fc7;
    border-color: #327fc7;
    outline: none;
}

#steps {
    max-width: 90%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 5vw;
}

.step {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.step-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

em {
    font-style: italic;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.step-1 .info-box {
    flex: 1;
    align-content: center;
    padding: 20px;
}

h4 {
    font-size: 30px;
    font-weight: 300;
}

.step-1 .info-box p {
    margin-top: 1.5rem;
    font-weight: 300;
    line-height: 1.7em;
}

.details {
    font-size: 14px;
    font-weight: 400;
}

.step-1 .img-box {
    flex: 1;
    width: 100%;
}

.step-1 .img-box img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.step h2 {
    margin-top: 0;
}

.check {
    margin: 20px 0;
}

.next-steps {
    text-align: center;
    justify-content: center;
    align-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.next-steps h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.4em;
    font-weight: 200;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.info img {
    margin-bottom: 20px;
}

.info h4 {
    margin-top: 0;
    font-size: 24px;
}

@media (min-width: 768px) {
    .step-1 {
        flex-direction: row;
    }

    .step-1 .img-box {
        width: 50%;
    }

    #steps {
        max-width: 70%;
    }

    .next-steps {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    #steps {
        max-width: 50vw;
    }

    .next-steps {
        max-width: 90vw;
    }
}